.div{
    width: 90%;
    margin: auto;
}
.h2{
    font-weight: 700;
    font-size: 24px;
    color: #332965;
    padding-bottom: 70px;
    padding-top: 140px;
}
.images{
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 100%;
    padding-bottom: 75px;
}

@media screen and (max-width:850px){
    .h2{
        padding-top: 50px;
        text-align: center;
    }
    .images{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        grid-gap: 20px;
    }
    .images img{
        max-width: 100%;
    }
}
@media only screen and (max-width: 662px){
    .h2{
        width: 80%;
        margin: auto;
    }
}