.nav {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.link{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.container{
    margin: 108px auto;
    width: 45.4%;
    /* height: 944px; */
    background: #FFFFFF;
    border: 1px solid #E8E6F2;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 2px 2px 2px 0px;
}
.container h2{
    font-size: 40px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    padding-top: 98px;
}

.signin{
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 5%;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}
.signup{
    background: #F2E6E8;
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 5%;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.p{
    font-size: 18px;
    text-align: center;
    color: #000000;
    padding-top: 7px;
    padding-bottom: 70px;
}
.form{
    width: 90%;
    margin: auto;
}

.mail{
      font-size: 18px;
      padding: 18px;
    width: 100%;
    border: 1px solid #333333;
    border-radius: 10px;
    outline: none;
    margin: 30px 0;
}

.button{
    width:100%;
    background: #301446;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    border: none;
    margin-bottom: 150px;
    display: block;
    text-align: center;
    color: #ffffff;
}
/* .button a{
} */
.form button:hover{
    cursor: pointer;
    opacity: 0.85;
}
.mail:focus, .password3:focus{
    border: 3px solid #301446;
}
.password3{
    padding: 18px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #333333;
    outline: none;
      font-size: 18px;
      margin-bottom: 50px;
}
@media only screen and (max-width: 950px){
    .container{
        width: 70%;
        margin: 100px auto;
    }
    .p{
        padding-bottom: 60px;
    }
}
@media only screen and (max-width: 710px){
    .container{
        width: 80%;
        margin: 80px auto;
    }
    .container h2{
        padding-top: 80px;
    }
    .p{
        padding-bottom: 45px;
    }
}
@media only screen and (max-width: 530px){
    .nav{
        height: 100px;
    }
    .nav a{
        padding: 10px 0;

    }
    .nav img{
        width: 110px;
        height: 70px;
    }
    .container{
        width: 90%;
        margin: 40px auto;
        /* padding: 20px; */
    }
    .container h2{
        padding: 40px 20px 10px 20px;
    }
    .p{
        padding: 10px 20px 25px 20px;
    }
}