.div{
    width: 90%; 
    margin: auto;
}

.h2{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #071533;
    padding-bottom: 50px;
    padding-top: 70px;
}
.ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.li{
    font-family: var(--font);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #23262A;
    margin: 20px 0px;
    cursor: pointer;
}
.li:hover{
    transition: 0.5s ease-in-out ;
    color: #071533;
    font-weight: 700;
}
.li:after {
    content: '';
    display: block;
    margin: auto;
    width: 0px;
    transition: width 0.7s ease, background-color 1s ease;
    padding-bottom: 30px;
}
.li:hover:after {
    border-bottom: 5px solid #2A1B3F;
    width: 100%;
}
.flexbox{
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
    position: relative;
    overflow-y: auto;
}


@media screen and (max-width:906px){
    .div{
        margin-bottom: 56px;
    }
    .ul{
        display: none;
    }
    .h2{
        padding-bottom: 33px;;
    }
    .flexbox{
        justify-content: flex-start;
        gap: 30px;
    }
    .arrow{
        position: absolute;
        bottom: 100px;
        left: 840px;
    }
    
}
